<div class="d-flex">
  <app-sidebar></app-sidebar>
  <div class="container">
    <div class="row p-3 mt-2">
      <div class="col">
        <h5>Buscar</h5>
        <input type="text" class="form-control" placeholder="Buscar gifs.." />
      </div>
    </div>
    <hr class="text-primary" />
    <div class="row">
      <div class="col">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Adipisci animi
        culpa temporibus eius quas dolor, sunt enim quis nisi consectetur
        maxime! Fugit fuga recusandae suscipit aliquid veniam perferendis, et
        voluptatum.
      </div>
    </div>
  </div>
</div>
